<h3>Edit Profile</h3>

<%= form_for @user, :method => :put do |f| %>
<div class="container">
  <ul class="edit-account-info">
      <li> <label class="col-md-4 control-label" for="profile_pic_url">Picture URL</label>
        <%= f.text_field :profile_pic_url %>
        </li>

      <li><label class="col-md-4 control-label" for="first_name">First Name<span class="required">*</span></label>  
        <%= f.text_field :first_name %>
        </li>

      <li><label class="col-md-4 control-label" for="last_name">Last Name<span class="required">*</span></label>  
        <%= f.text_field :last_name %>
        </li>

      <li><label class="col-md-4 control-label" for="hometown">Hometown</label>  
        <%= f.text_field :hometown %>
        </li>

      <li><label class="col-md-4 control-label" for="team_name">Team Name</label>  
        <%= f.text_field :team_name %>
        </li>

      <li><label class="col-md-4 control-label" for="email">Email<span class="required">*</span></label>  
        <%= f.text_field :email %>
        </li>

      <li></li><label class="col-md-4 control-label" for="phone_number">Phone number</label>  
        <%= f.text_field :phone_number %>
        </li>

      <li><label class="col-md-4 control-label" for="gender">Gender</label>  
        <%= f.text_field :gender %>
        </li>

      <li><label class="col-md-4 control-label" for="age">Age</label>  
        <%= f.text_field :age %>
        </li>
        
        <%= f.submit "Confirm edit" %>
    
<% end %>
  </ul>
</div>
