<h1 class="account-show-page"><%= @user.first_name %> <%= @user.last_name %></h1>

<table class = "table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">Event Id</th>
        <th scope="col">Event Sign Ups</th>
        <th scope="col">Start Date of Event</th>
        <th scope="col">End Date of Event</th>
        <th scope="col">Team Host</th>
`    </tr>
    </thead>
    <tbody>
      <% @user.events.each do |event| %>
      <tr>
        <td>
        <%= event.id%>
        </td>
        
        <td>
        <%= event.name%>
        </td>
        
        <td><%=event.my_date%></td>
        <td><%=event.end_date%></td>

          <td>
           <%= event.team_host%>
        </td>
      </tr>

      <% end %> 
    </tbody>
</table>

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

      </div>
        <div class="col-md-12 col-md-12 col-md-6 col-lg-6 col-sm-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%@user.first_name%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%=@user.profile_pic_url%>" class="img-circle img-responsive"> </div>
              
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                       <tr>
                        <td>User Id:</td>
                        <td><%=@user.id%></td>
                      </tr>
                       <tr>
                        <td>User Since:</td>
                        <td><%=@user.date_created_user%></td>
                      </tr>
                       <tr>
                        <td>Hometown:</td>
                        <td><%=@user.hometown%></td>
                      </tr>
                      <tr>
                        <td>Team Name:</td>
                        <td><%=@user.team_name%></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%=@user.age%></td>
                      </tr>
                      <tr>
                        <td>Gender:</td>
                        <td><%=@user.gender%></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%=@user.email%></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><%=@user.phone_number%></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a href="/events/new" >Create Event</a>
                        <span class="pull-right">
                        <a href="/users/<%=@user.id%>/edit" >Edit Profile</a>
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>