<h3>Account Page</h3>

<h1 class="account-show-page"><%= current_user.first_name %> <%= current_user.last_name %></h1>
<table class = "table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">Profile Pic</th>
        <th scope="col">User Id</th>
        <th scope="col">Email</th>
        <th scope="col">Master League-Team Name</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="<%= @user.profile_pic_url %>"> </td>
        <td><%= @user.id %> </td>
        <td><%= @user.email %> </td>
        <td><%= @user.team_name %> </td>

      </tr>
    </tbody>
    <%= link_to "Edit my info!", "/users/#{@user.id}/edit" %>

</table>


<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="/users/<%=@user.id%>/edit" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%@user.first_name%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%=@user.profile_pic_url%>" class="img-circle img-responsive"> </div>
              
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                       <tr>
                        <td>Hometown:</td>
                        <td><%=@user.hometown%></td>
                      </tr>
                      <tr>
                        <td>Team Name:</td>
                        <td><%=@user.team_name%></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%=@user.age%></td>
                      </tr>
                      <tr>
                        <td>Gender:</td>
                        <td><%=@user.gender%></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%=@user.email%></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><%=@user.phone_number%></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Event Sign Ups</a>
                  <a href="#" class="btn btn-primary">Team Event Sign Ups</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="users/<%= @user.id %>/edit " data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>