<h1 class="account-show-page"><%= @user.first_name %> <%= @user.last_name %></h1>
<table class = "table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">User Id</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.id %> </td>
      </tr>
    </tbody>
</table>


<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

<p class=" text-info"><h4>User since: <%= @user.date_created_user %></h4></p>
      </div>
        <div class="col-md-12 col-md-12 col-md-6 col-lg-6 col-sm-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%@user.first_name%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%=@user.profile_pic_url%>" class="img-circle img-responsive"> </div>
              
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                       <tr>
                        <td>Hometown:</td>
                        <td><%=@user.hometown%></td>
                      </tr>
                      <tr>
                        <td>Team Name:</td>
                        <td><%=@user.team_name%></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%=@user.age%></td>
                      </tr>
                      <tr>
                        <td>Gender:</td>
                        <td><%=@user.gender%></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%=@user.email%></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><%=@user.phone_number%></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Event Sign Ups</a>
                  <a href="#" class="btn btn-primary">Team Event Sign Ups</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                        <A href="/users/<%=@user.id%>/edit" >Edit Profile</A>
                        <br>
                        <A href="edit.html" >Logout</A>


                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>